*{
    padding: 0;
    margin: .3rem;
}

html{
    text-align: center;
}

ul{
    list-style: none;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    all:unset;
    color: #2b2b2b;
    cursor: pointer;
    padding: .2rem;
    border: 1px solid #2b2b2b;
    border-radius: 5px;
}

.button:hover{
    color: #fff;
    background-color: #2b2b2b;
}

table {
    display: flex;
    justify-content: center;
}
td {
    border: 1px solid #2b2b2b;
    height: 5rem;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    width: 10rem;
}
