*{
    padding: 0;
    margin: .3rem;
}

html{
    text-align: center;
}

ul{
    list-style: none;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    all:unset;
    color: #2b2b2b;
    cursor: pointer;
    padding: .2rem;
    border: 1px solid #2b2b2b;
    border-radius: 5px;
}

.button:hover{
    color: #fff;
    background-color: #2b2b2b;
}

table {
    display: flex;
    justify-content: center;
}
td {
    border: 1px solid #2b2b2b;
    height: 5rem;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    width: 10rem;
}

/* // Ejercicio 12 */
.tabla {
    display: table;
    border-collapse: collapse;
    margin:auto;
  }
  
  .columna {
    display: table-cell;
    border: 1px solid black;
    padding: 5px;
  }
  
  .fila1 {
    background-color: #edeaea;
  }
  
  .fila2 {
    background-color: #d3d0d0;
  }
  
  .fila3 {
    background-color: #cccccc;
  }
  
  .fila1:hover,
  .fila2:hover,
  .fila3:hover {
    background-color: rgb(214, 214, 204);
  }

  /* Ejercicio 13 */
  .noticia {
    margin-bottom: 20px;
  }
  
  .resaltado {
    background-color: yellow;
  }
  
  
